@model UserSignup.ViewModels.AddUserViewModel

<h1>Add a User!</h1>
    <form asp-controller="User" asp-action="Add" method="post">
    <table>
        <tr>
            <td><label for="username">Username: </label></td>
            <td><input type="text" name="username" value="@Model.Username"/></td>
            <td><span asp-validation-for="Username"></span></td>

        </tr>
        <tr>
            <td><label for="email">Email: </label></td>
            <td><input type="text" name="email" value="@Model.Email"/></td>
            <td><span asp-validation-for="Email"></span></td>
        </tr>
        <tr>
            <td><label for="password">Password: </label></td>
            <td><input type="password" name="password"/></td>
            <td><span asp-validation-for="Password"></span></td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password: </label></td>
            <td><input type="password" name="verify"/></td>
            <td><span asp-validation-for="Verify"></span></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add New User!"/></td>
        </tr>
    </table>
    </form>