@model UserSignup.ViewModels.AddUserViewModel

@if (Model.Username.Equals("No User"))
{
    <h1>Please create a username!</h1>
}

@if (Model.Username != "No User")
{
    <h1>Hello, @Model.Username!</h1>
}
